.fstyle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fieldWidth{
  width: 300px;
}

h2 {
  color: #b68516;
}

.button {
  display: flex;
  align-items: center;
  flex-direction: column;
}