<body class="fstyle">
<form [formGroup]="loginForm">
  <h2>{{title}}</h2>
    <div>
      <mat-form-field appearance="fill" class="fieldWidth">
        <mat-label>Username</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="fieldWidth">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-fab extended color="primary" type="submit" (click)="login()">Login</button>
  </div>
</form>
</body>