.container {
    padding: 60px;
}

.button-color {
    background-color: #0266ee;
    padding: 20px;
    color: aliceblue !important;
}

.logout-button {
    color: #4e4e5e !important;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    margin-left: 10px;
}

.data {
    margin-top: 30px;
}